* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Buenard', serif;
  font-size: 1.4em;
  color: #222;
  background-color: #fff;
  background-image: url('http://d.bldm.us/noise.png');
  text-shadow: #ddd 0 .05em .1em;
  line-height: 1.2em;
  padding-top: 6em;
}

div#things {
  margin: 0 auto;
  max-width: 42em;
  padding: 1em 2em;
}

a {
  text-shadow: none;
  color: #c52;
  text-decoration: none;
}

a:hover {
  color: #222;
  border-bottom: 1px dotted #c52;
}

span.tags {
  display: inline-block;
  line-height: 1.3em;
  margin-left: .5em;
}

a.tag {
  font-family: "Share Tech", sans-serif;
  font-size: .8em;
  height: 1em;
  text-shadow: none;
  background-color: #999;
  border-radius: .4em;
  padding: .1em .4em;
  color: #fff;
}

/* tag and list selection stuff */
@media screen {
  a.tag.selected {
    background-color: #c52;
  }
  
  a.tag:hover, a.tag.hover {
    border: none;
    background-color: #fff;
    box-shadow: #666 0 .1em .2em;
    color: #666;
  }

  a.tag.selected:hover, a.tag.selected.hover {
    color: #c52;
  }
  
  body.selection .unselected, body.selection h2, body.selection h1, body.selection div#contact {
    text-shadow: none;
    opacity: .2;
  }
  
  /* ¯\(°_o)/¯ i'd rather this stayed visible
  body.selection div#logo {
    opacity: .4;
  }
  */

  li.selected ul {
    border-left: .2em solid #c52;
    margin-left: -.7em;
  }

  /* unnecessary and confusing
  li.hover {
    border-right: .2em solid #999;
    margin-right: -.4em;
    padding-right: .2em;
  }
  */

  li.selected ul ul {
    border: none;
    margin-left: -.6em;
  }
}

ul {
  list-style: none;
  margin-bottom: 1.2em;
  margin-left: -.6em;
  padding-left: 2em;
}

ul ul {
  border-left: .1em dotted #bbb;
  padding-left: 1.5em;
}

ul ul ul {
  border: none;
  padding-left: 1.7em;
}

h2 {
  line-height: 1.2em;
  padding-top: 2em;
  padding-bottom: 1em;
}

h3 {
  margin: 0 0 .8em;
}

h1 {
  line-height: 1em;
  padding: .4em 0;
  text-align: center;
}

div#contact {
  padding-top: .4em;
  padding-bottom: .8em;
}

div#contact p {
  text-align: center;
}

li {
  margin: .5em 0;
}

li:before {
  position: absolute;
  margin-left: -.8em;
  font-weight: 500;
  color: #aaa;
}

li li:before {
  content: "·";
  color: #999;
  margin-left: -.5em;
}

li:before {
  content: "»";
}

div#logo {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
}

div#logo img {
  width: 5em;
  height: 5em;
}

div#logo a:hover {
  border: none;
}

p.url {
  margin-bottom: 1em;
}

span sup {
  font-size: .7em;
  line-height: 0;
  position: relative;
  top: .2em;
}

.note {
  display: block;
  width: 50%;
  position: relative;
  left: 52%;
  margin-left: -50%;
  font-size: .7em;
  line-height: 1em;
  margin-bottom: .5em;
  float: right;
  clear: right;
}

code {
  font-family: "Ubuntu Mono", monospace;
  font-size: .8em;
}

.print {
  font-weight: normal;
  color: #666;
  display: none;
}

@media (max-width:650px) {
  body {
    font-size: 1em;
    padding: 2em 0 1em;
  }

  div#things {
    margin: 0 auto;
    max-width: 42em;
    padding: 1em;
  }

  ul {
    padding-left: 1.5em;
  }

  ul ul {
    padding-left: 1.2em;
  }

  ul ul ul {
    padding-left: 1.4em;
  }
}

@media print {
  body {
    color: #000;
    font-size: .9em;
    line-height: 1.1em;
    text-shadow: none;
    background-image: none;
    padding: 1em;
  }

  a.inline {
    color: #000;
  }

  ul ul {
    border-left: 1px dashed #000;
  }

  p.print {
    font-size: .7em;
    display: block;
  }

  span.tags {
    font-size: .9em;
    margin-left: .2em;
  }

  a.tag {
    border: 1px solid #666;
    color: #666;
    background-color: #fff;
  }

  span.print {
    display: inline;
  }

  div#logo {
    margin-bottom: 0;
  }

  li:before {
    color: #000;
  }

  div#things {
    padding: 0em 33% 0 .5em;
    max-width: none;
  }
}
